h3 Title:
= @question.title

h3 Body:
= @question.body

h3 Answer:
-if @question.answers.present?
 - @question.answers.each do |answer|
    = answer.body

br
- if user_signed_in? #if user_signed_in? && current_user.id == question.user_id
  = link_to 'Delete answer', question_answer_path(question_id: @question), method: :delete
br
br
- if current_user
  = link_to 'Add answer', new_question_answer_path(question_id: @question)

br
  = link_to 'Back', root_path
